body {
    font-family: Arial, sans-serif;
    /* This line of code will set the default font for the entire page */

    background-color: #f4f4f4;
    /* This set the background color to a light grey for the entier page */

    margin: 0;
    /* This will remove the default browser margin that is around the entier page */

    padding: 40px;
    /* This line of code will add space inside of the page */
}

.container {
    max-width: 700px;
    /* This will limit the width of the content */

    margin: 0 auto;
    /* This line of code will center the container horizontally */

    text-align: center;
    /* This line of code will align the text inside of the container to the center */
}

h1 {
    color: #1a237e;
    /* This line of code will change the color of the heading to a dark blue */

    margin-bottom: 20px;
    /* This line of code will add space below the heading */
}

.card {
    background: #f7a57c;
    /* This line of code will change the background color for the card elements to a light orange */

    padding: 20px;
    /* This line of code will add space inside of the card elements */

    border-radius: 10px;
    /* This line of code will add rounds to the corners of the card elements */

    margin-top: 20px;
    /* This line of code will add space above the card elements */

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    /* This line of code will add a soft shadow for the card, so it can add more depth to it */

}

.result {
    background: #b7c8e6;
    /* This line of code will change the background color of the result section to a light blue */

    text-align: left;
    /* This line of code will align the text to the left side */

}

/* This program will change the backgroung color of the error
and will change the color of the text */
.error {
    background: #f7a57c;
    /*This line of code will change the background color to the same color that is used for the error message */

    color: #000;
    

}

/* This code will set the vertical spacing that will be above and below the horizontal lines */
hr {
    margin: 20px 0;

}